!!!
html
	head
		meta(charset='utf8')
		base(href='/')
		title Programming Test
		link(rel='stylesheet', href='/css/app.css')		
	body
		div(id="filterArea")
			div(id="filterQuery")
				span Filter: 
				select(id="filterProp")
					option(value="group") band name
					option(value="title") album title
					option(value="no_of_discs") number of discs
					option(value="release_date") release date
					option(value="recording_date") recording date
					option(value="personnel") personnel
				input(type="text", id="filterValue", onkeydown="addFilter(event)")
				input(type="button", value="Add Filter", onclick="addFilter()")
			div(id="filterList")
			div(id="filteredResultsFound")
		ul(id="toggleColumnsArea") Show/Hide Columns:
				li
					input(type='checkbox', name='checkgroup', checked, onclick='toggleColumnVisible(this)')
					| band name
				li
					input(type='checkbox', name='checktitle', checked, onclick='toggleColumnVisible(this)')
					| album title
				li
					input(type='checkbox', name='checkno_of_discs', checked, onclick='toggleColumnVisible(this)')
					| number of discs
				li
					input(type='checkbox', name='checkrelease_date', checked, onclick='toggleColumnVisible(this)')
					| release date
				li
					input(type='checkbox', name='checkrecording_date', checked, onclick='toggleColumnVisible(this)')
					| recording date
				li
					input(type='checkbox', name='checkpersonnel', checked, onclick='toggleColumnVisible(this)')
					| personnel
		div(id="bandTable")

		script(src='http://www.kryogenix.org/code/browser/sorttable/sorttable.js')
		script(src='http://www.danvk.org/dragtable/dragtable.js')
		script(src='js/app.js')
		script(src='js/tests.js')